@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #f60838;
    --dark-color: #01193c;
    --light-color: #e8e8f8;
}

body {
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    align-items: center;
}

p {
    font-weight: 500;
    font-size: 1.035rem;
    margin-bottom: 0.2rem !important;
}

.navbar_img {
    width: 70%;
}

.btn0 {
    padding: 0.5rem 1.8rem;
    border: none;
    color: #fff;
    background: var(--dark-color);
}

.btn0:hover {
    background: var(--primary-color);
    transition: 0.8s;
    border-radius: 0;
}

.btn1 {
    padding: 0.65rem 1.4rem;
    border: none;
    font-weight: 600;
    color: #fff;
    background: var(--primary-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.btn1:hover {
    background: var(--dark-color);
    transition: 0.8s;
    border-radius: 0;
}

.btn2 {
    padding: 0.5rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    font-weight: 600;
    color: #fff;
    background: var(--primary-color);
    letter-spacing: 0.5px;
}

.btn2:hover {
    background: var(--dark-color);
    transition: 0.8s;
    color: #fff;
    border: 2px solid;
}

.btn3 {
    background: var(--primary-color);
    color: #fff;
    border-radius: 0px;
    transition: 0.7s;
    padding: 0.5rem 1rem;
    border: none;
}

.btn3:hover {
    background: var(--dark-color);
    color: #fff;
}

.btn4 {
    background: var(--dark-color);
    color: #fff;
    border-radius: 0px;
    transition: 0.7s;
    padding: 0.5rem 1.7rem;
    border: none;
}

.btn4:hover {
    box-shadow: 10px 0px 0 0 var(--primary-color);
    color: #fff;
}

.main_h6 {
    color: var(--primary-color);
    padding: 0.5rem 0;
}

/*  */
.main_h3 {
    font-weight: 700;
    position: relative;
    padding-bottom: 0.2rem;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.main_h3:hover {
    color: var(--primary-color) !important;
}

.main_h3::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 6.5%;
    height: 0.156rem;
    top: 100%;
    right: 46.8%;
    border: 20px;
}

.main_h3::after {
    transform: scale(0, 1);
    transition: transform 1s ease;

}

.main_h3:hover::after {
    transform: scale(1, 1);
    transition: transform 1.5s ease;
}

/* *************************** */
.nav_ul i {
    font-size: 0.8rem;
}

.nav_ul li {
    padding: 0 0.7rem;
}

/*  */
.nav_ul a {
    color: var(--light-color);
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.2rem;
    letter-spacing: 0.8px;
    cursor: pointer;
    font-weight: 600;
}

.nav_ul a:hover {
    color: var(--primary-color);
}

.nav_ul a::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 0.155rem;
    top: 100%;
    right: 0%;
    border: 20px;
}

.nav_ul a::after {
    transform: scale(0, 1);
    transition: transform 1s ease;

}

.nav_ul a:hover::after {
    transform: scale(1, 1);
    transition: transform 1.5s ease;
}

.drop_nav {
    background: var(--dark-color);
}

span {
    color: var(--primary-color);
}

/* ************************************ */
.section1 {
    padding: 7rem 0;
}

.s1_1 h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.8px;
}

.s1_1 h2 {
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 1.4rem;
}

.s1_2 {
    text-align: center;
}

.s1_2 img {
    height: 465px;
    /* text-align: center; */
}

.s1_p {
    padding: 1rem 0;
    line-height: 1.65;
    word-spacing: 1px;
}

.about {
    padding: 4.5rem 0;
}

.about_1 {
    text-align: center;
}

.about_1 img {
    width: 65%;
    box-shadow: -20px 20px 0 0 var(--dark-color);
}

.section2 {
    padding: 7rem 0;
}

/* ************************************ */
.section3 {
    padding: 6rem 0;
}

.s3_1 {
    padding: 2.5rem 3.5rem;
    margin: 1rem;
    border-radius: 2.5rem 0rem 2.5rem 0;
    cursor: pointer;
    border: 2px solid rgb(219, 219, 219);
}

.s3_1:hover {
    background: var(--primary-color) !important;
    transition: 1.2s;
    border: 2px solid transparent;
}

.s3_main {
    padding: 2rem 0;
}

/* ************************************ */
.section4 {
    padding: 7rem 0;
}

.s4_1 img {
    width: 100%;
}

.s4_1 {
    position: relative;
    margin: 0 0.5rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    cursor: pointer;
}

.s4_1:hover .overlay {
    transform: scale(1);
}

.text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

.text h4 {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 0.8rem 0;
}

.text p {
    font-size: 1rem;
}

/* ************************************ */
.section5 {
    padding: 7rem 0;

}

/* ************************************ */
.section6 {
    padding: 7rem 0;
}

.m6_input {
    padding: 0.9rem 1rem;
    margin: 0.7rem 0;
    border-radius: 30px;
    border: 2px solid #00000017;
}

.error {
    /* display: none; */
    color: var(--primary-color);
    padding: 0.3rem 0;
}

.form-control:focus {
    border: 2px solid var(--primary-color);
    box-shadow: none;
    color: var(--primary-color);
}


.map-container-3 {
    overflow: hidden;
    padding-bottom: 62%;
    position: relative;
    height: 0;
}

.map-container-3 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* ************************************ */
/* ************************************ */
.footer {
    padding: 2.8rem 0 3.8rem 0;
}

.f_1 img {
    width: 60%;
    margin-left: -0.7rem;
}

.f_1 p {
    font-weight: 400;
    padding-right: 5rem;
    font-size: 1rem;
    letter-spacing: 0.4px;
}

.f_2 ul {
    padding-left: 0;
    list-style: none;
}

.f_2 li {
    padding: 0.35rem 0;
}

.f_3 i {
    font-size: 1rem;
}

.ftt_1 {
    text-align: center;
}

.f_3 p {
    margin-bottom: 0;
}

.footer h5 {
    color: var(--primary-color);
    letter-spacing: 0.7px;
    padding-bottom: 0.3rem;
    font-weight: 700;
}

.f1_icon i {
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    background-color: var(--light-color);
    color: var(--primary-color);
    border-radius: 100%;
    margin-right: 1rem;
    cursor: pointer;
}

.f1_icon {
    padding-top: 0.4rem;
}

.f1_icon i:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.last_sec {
    background: var(--primary-color);
    padding: 1rem 0;
    font-weight: 300;
}

.last_sec p {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.1rem;
}

/* Login Style sheet */
hr {
    margin: 0.7rem 0;
    color: #fff;
    opacity: 1;
}

.login_form {
    padding: 5rem 0 6rem;
}

.login_main {
    border-radius: 20px;
}

.login_1 {
    background: var(--dark-color);
    padding: 3.9rem 0;
    border-bottom-left-radius: 50px;
}

.login_2 {
    background: var(--dark-color);
    text-align: center;
    padding: 4rem 2rem 3rem 2rem;
    border-top-right-radius: 50px;
}

.login_2 img {
    border-radius: 100%;
    width: 23%;
    border: 2px solid #FFF;
    padding: 0.1rem;
}

/*  */
.signup_form {
    padding: 3rem 0;
}

.signup_main {
    border-radius: 20px;
}

.signup_1 {
    background: var(--dark-color);
    padding: 7.75rem 0;
    border-bottom-left-radius: 50px;
}

.signup_2 {
    background: var(--dark-color);
    text-align: center;
    padding: 3rem 2rem 1rem 2rem;
    border-top-right-radius: 50px;
}

.signup_2 img {
    border-radius: 100%;
    width: 23%;
    border: 2px solid #FFF;
    padding: 0.1rem;
}

.signup_btn img {
    border-radius: 100%;
    width: 12%;
    padding: 0.1rem;
}

.signup_btn {
    margin: 0 4rem;
    align-items: center;
    padding: 0.3rem;
}


/* ************************************ */
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .55);
    border-color: rgb(255 255 255 / 0%);
}

/* ************************************ */
@media only screen and (min-width:320px) and (max-width:576px) {
    .navigation span {
        font-size: 1.5rem !important;
        padding: 0 !important;
        margin-top: 0 !important;
    }


    .waleednav {
        width: 60%;
    }

    .top_nav {
        padding: 0 1rem;
    }

    .navbar_img {
        width: 100%;
    }

    .nav_ul li {
        padding: 0.2rem 0.9rem;
    }

    .nav_ul {
        padding: 1rem 0;
    }

    .nav_buttons {
        padding-bottom: 1.3rem;
    }

    /* *********************** */
    .section1 {
        padding: 5rem 0;
    }

    .s1_1 h1 {
        font-size: 2.4rem;
        letter-spacing: 0px;
    }

    .s1_2 img {
        height: auto;
        padding-top: 4rem;
    }

    /* ******************* */
    .about {
        padding: 3rem 0;
    }

    .about_1 img {
        width: 100%;
        box-shadow: -12px 13px 0 0 var(--dark-color);
        margin-bottom: 3rem;
    }

    /* *********************** */
    .s3_1 {
        padding: 2rem 1rem;
    }

    /* *********************** */
    .text {
        width: 90%;
    }

    .text h4 {
        font-size: 1.2rem;
        padding: 0.3rem 0;
    }

    .btn2 {
        padding: 0.3rem 1rem;
        letter-spacing: 0.8px;
    }

    .s4_1 {
        margin: 0 !important;
    }

    /* *********************** */
    .footer {
        text-align: center;
    }

    .f_1 p {
        padding: 1rem 2rem;
    }

    .f_2 {
        padding: 3rem 0;
    }

    .f_2 ul {
        padding: 0;
        margin-bottom: 0;
    }

    .ftt_1 {
        text-align: right;
    }

    .login_1 {
        border-bottom-left-radius: 0;
        padding: 1rem 0;
    }

    .login_2 {
        border-top-right-radius: 0;
    }

    .signup_1 {
        border-bottom-left-radius: 0;
        padding: 1rem 0;
    }

    .signup_2 {
        border-top-right-radius: 0;
        padding: 0rem 1rem 2rem 1rem;
    }

    /* *********************** */
    .testimonial img {
        width: 35% !important;

    }

    /* *********************** */


}

@media only screen and (min-width:576px) and (max-width:767px) {
    .top_nav {
        padding: 0 1.2rem;
    }

    .nav_ul li {
        padding: 0.4rem 0.9rem;
    }

    .nav_ul {
        padding: 2rem 0;
    }

    .nav_buttons {
        padding-bottom: 1.3rem;
    }

    .section1 {
        padding: 5rem 0;
    }

    .s1_1 h1 {
        font-size: 3.3rem;
        letter-spacing: 0px;
    }

    .s1_1 h2 {
        font-size: 1.1rem;
    }

    .s1_2 img {
        height: auto;
        padding-top: 4rem;
    }

    /* *************** */
    .about_1 {
        margin-bottom: 4rem;
    }

    /* *************** */
    .s3_1 {
        padding: 2.5rem 1rem;
        margin: 1rem 0 !important;
    }

    /* *************** */
    .text {
        width: 100%;
    }

    .text h4 {
        font-size: 1.1rem;
    }

    .text p {
        font-size: 0.9rem;
        padding: 0 1.2rem;
    }

    .btn2 {
        padding: 0.3rem 1rem;
        margin-top: 0.5rem !important;
        font-size: 0.8rem !important;

    }

    /* *************** */
    .f_2,
    .f_3 {
        padding-top: 2rem;
    }

    .f_2 ul {
        padding: 0;
    }

    .f_2 li {
        padding: 0.25rem 0.3rem;
    }
    .login_1 {
        border-bottom-left-radius: 0;
        padding: 1rem 0;
    }

    .login_2 {
        border-top-right-radius: 0;
    }

    .signup_1 {
        border-bottom-left-radius: 0;
        padding: 1rem 0;
    }

    .signup_2 {
        border-top-right-radius: 0;
    }




}

@media only screen and (min-width:768px) and (max-width:991px) {
    .navigation span {
        padding: 0 3rem !important;
    }

    .top_nav {
        padding: 0 1.5rem;
    }

    .nav_ul li {
        padding: 0.4rem 0.6rem;
    }

    .nav_ul {
        padding: 1rem 0;
    }

    .section1 {
        padding: 5rem 0;
    }

    .s1_1 h1 {
        font-size: 2.4rem;
        letter-spacing: 0px;
    }

    .s1_1 h2 {
        font-size: 1.1rem;
    }

    .s1_2 img {
        height: auto;
        padding-top: 4rem;
    }

    /*  */
    .about_1 img {
        width: 100%;
    }

    /*  */
    .nav_buttons {
        padding-bottom: 1.3rem;
    }

    /*  */
    .f_2 ul {
        padding: 0;
    }

    .f_1 img {
        width: 70%;
    }

    .login_1 {
        padding: 4.4rem 0;
    }

    .signup_1 {
        padding: 10.3rem 0;
    }




}

@media only screen and (min-width:992px) and (max-width:1199px) {

    .nav_ul li {
        padding: 0.4rem 0.7rem;
    }

    .waleednav {
        width: 17%;
    }

    .navbar_img {
        width: 100%;
    }

    .btn0 {
        padding: 0.5rem 1rem;
    }

    .btn3 {
        padding: 0.5rem 0.7rem;
    }

    .login_2 {
        padding: 2rem;
    }

    .signup_1 {
        padding: 9.4rem 0;
    }

}

/* *************************** */

.form-check-input:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-check-input:focus {
    border-color: transparent;
    box-shadow: none;
}

.img_401 {
    width: 100%;
}

.img_404 {
    width: 100%;
}

/* ******testimonial Slider******** */
.testimonial img {
    border-radius: 50%;
    width: 19%;
}

.navigation span {
    font-size: 2.5rem;
    padding: 0 5rem;
    margin-top: -11rem;
    cursor: pointer;
}